<div class="container" id="pdfDownload">
    <header class="header">
        <div class="header__logo">
            <h1>LOGO</h1>
        </div>
        <nav class="header__nav">
            <ul>
                <li><a
                        href="https://emp.intranet.ragecom.com/members/login/?on_login=http%3A%2F%2Fintranet.ragecom.com%2F">Home</a>
                </li>
                <li><a href="javascript:;">About</a></li>
                <li><a href="javascript:;">Services</a></li>
                <li><a href="javascript:;">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="hero-section">

        </div>
    </main>
    <button class="btn btn-primary ml-1" type="button" (click)="downloadPdf()">Export pdf</button>
</div>